@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis:YEAR@1979&display=swap');

body {
  width: 100vw;
  height: 100vh;
}

#root {
  background-color: gray;
  background-image: url("assets/geralt-filmstrip-408992.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

#app {
  display: flex;
  width: 70%;
  max-width: 70%;
  height: 100%;
  font-size: 15px;
  flex-direction: column;
  align-items: center;
}

.fetch-message {
  margin-top: 20px;
}

#welcome-section {
  background-color: rgba(255, 255, 255 , 0);
  display: flex;
  font-size: 30px;
  width: 800px;
  margin-top: 50px;
  justify-content: center;
}

#welcome-section h1 {
  font-family: "Climate Crisis", sans-serif;
}

#list {
  display: flex;
  height: 72%;
  flex-direction: column;
  align-items: center;
}

#search {
  background-color: #4169E1;
  display: flex;
  width: 800px;
  margin: 30px 0 30px 0;;
  padding: 20px 0 20px 0;
  position: sticky;
  top: 0px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0 5px 15px black;
}

#search h3 {
  margin-bottom: 20px;
}

#search form {
  display: flex;
}

#search input {
  color: black;
  width: 300px;
  height: 30px;
  font-size: 20px;
  padding: 0 10px 0 10px;
  border: none;
  border-radius: 10px 0 0 10px;
}

#search input:focus {
  outline: none;
}

#search button {
  display: flex;
  background-color: #FFAC1C;
  padding: 0 10px 0 10px;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

#list-selections {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  overflow: scroll;
  min-height: 510px;
  padding-bottom: 5px;
  justify-content: center;
  scrollbar-width: none; 
  -ms-overflow-style: none;
}

#list-selections::-webkit-scrollbar {
  display: none;
}

#list-selections > a {
  color: black;
  text-decoration: none;
}

.anime-selection {
  background-color: #4169E1;
  display: flex;
  width: 350px;
  border-radius: 20px;
  box-shadow: 0 3px 10px black;
}

.anime-selection img {
  width: 170px;
  border-radius: 20px 0 0 20px;
}

.selection-details {
  display: flex;
  flex-direction: column;
  margin: 20px 10px 20px 10px;
  align-items: flex-start;
  justify-content: space-between;
}

.selection-title {
  font-size: 20px;
  max-height: 120px;
  overflow: hidden;
}

.selection-stats {
  line-height: 25px;
}

#current-page {
  color: black;
}

#page-info {
  background-color: #4169E1;
  display: flex;
  width: 250px;
  margin-top: 10px;
  padding: 10px 0 10px 0;
  gap: 4px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  box-shadow: 0 3px 10px black;
}

#page-info button {
  background-color: #FFAC1C;
  display: flex;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

#page-info button:disabled {
  background-color: #6082B6;
  cursor: default;
}

#page-number {
  display: flex;
  gap: 5px;
  align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
  min-width: 35px;
  text-align: center;
  border: none;
  border-radius: 5px;
}

input[type=number]:focus {
  outline: none;
}

.selection-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selection-page a {
  text-decoration: none;
}

.selection-page h4 {
  display: flex;
  font-weight: normal;
  font-size: 20px;
  background-color: #FFAC1C;
  width: 85px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 0 3px 6px black;
}

.selection-card {
  display: flex;
  background-color: #4169E1;
  width: 800px;
  font-size: 18px;
  margin: 50px 0 35px 0;
  padding: 30px;
  gap: 50px;
  border-radius: 20px;
  box-shadow: 0 5px 15px black;
}

.selection-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.selection-info > p {
  overflow: scroll;
  height: 288px;
  scrollbar-width: none; 
  -ms-overflow-style: none;
}

.selection-info > p::-webkit-scrollbar {
  display: none;
}

.selection-info button {
  display: flex;
  background-color: #FFAC1C;
  height: 40px;
  font-size: 16px;
  padding: 0 20px 0 20px;
  border: none;
  border-radius: 15px;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.selection-info button:hover {
  cursor: pointer;
}

.misc-data {
  width: 100%;
  margin-top: 20px;
  line-height: 30px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-bottom: 30px;
  text-align: center;
}